PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/challenge-bego
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1h
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
GOOGLE_PLACES_BASE_URL=https://places.googleapis.com/v1/places
